/* You may use the following selectors, but it's not required. */

body {
	font-family: Open Sans;
	margin: 0 auto;
	text-align: center;
}

#header {
	font-size: 40px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 40px 40px 40px 40px;
}

#subheader {
	font-size: 25px;
	font-weight: 300; 
	padding: 20px 20px 10px 20px;
}

a{
	text-decoration: none; 
}
#link {
	width:200px;
	background-color: #81C1BE;
	color: #fff;
	font-weight: bold;
	padding:20px 15px;
	margin: 35px auto 20px;
}

#description {
width:600px;
padding:10px 15px;
	margin: 35px auto 20px;
}